# Compiled Python files
*.pyc

# Link files
link.url

# Log files
log.txt

# Server files
Server

# Ngrok URL files
ngrok.url

# Local Moltivie's virtual environment
env/

# Ignore Visual Studio Code folder
.vscode/

# Ignore created files by SendMail functions
Defs/Send_Email/attachments/ip.txt
Defs/Send_Email/attachments/usernames.txt

# Ignore created files by Xbox WebPage
WebPages/xbox/ip.txt
